{% extends "template.html" %}
{% block conteudo %}
 
<div class="container mt-4">
  <form action="{{ url_for('atualizar') }}" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    <figure class="col-md-4 text-center">
      <img class="img-fluid img-thumbnail" src="{{ url_for('imagem', id=jogo.id) }}" alt="Capa do jogo">
      <figcaption class="mt-2">
        <label class="fileContainer btn btn-primary w-100">
          Alterar capa
          <input type="file" name="arquivo" accept=".jpg" style="display: none;">
        </label>
      </figcaption>
    </figure>
    

    <fieldset>

      <div class="mb-3" style='display:none'>
        <input type="number" id="id" name="id" class="form-control" value="{{ jogo.id }}" required>
      </div>


      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" value="{{ jogo.nome }}" required>
        <div class="invalid-feedback">
          Por favor, preencha o nome do jogo.
        </div>
      </div>

      <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
        <input type="text" id="categoria" name="categoria" class="form-control" value="{{ jogo.categoria }}" required>
        <div class="invalid-feedback">
          Por favor, preencha a categoria do jogo.
        </div>
      </div>

      <div class="mb-3">
        <label for="console" class="form-label">Console</label>
        <input type="text" id="console" name="console" class="form-control" value="{{ jogo.console }}" required>
        <div class="invalid-feedback">
          Por favor, preencha o console do jogo.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>
    </fieldset>
  </form>
</div>

{% endblock %}