{% extends "templatelogin.html" %}
{% block conteudo %}
    
<main class="form-signin">
  <form method="POST" action="{{ url_for('autenticar') }}">
   <input type="hidden" name="next" value="{{ next }}">
    <img class="mb-4" src="static/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="usuario" placeholder="Insira seu nome de usuário" name="usuario" required>
      <label for="usuario">Usuário</label>
    </div>
      <div class="form-floating">
 
        <input type="password" class="form-control" id="senha" placeholder="Password" name="senha" required>
        <label for="senha">Password</label>
      </div>

    <div class="checkbox mb-3">
      <label>
        <a href="{{ url_for('registro') }}"> <button type="button" class="btn btn-primary">Registre-se</button> </a>  
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="Entrar">Entrar</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>


    
         
{% endblock %}        

