{% extends "templatelogin.html" %}
{% block conteudo %}
     
<main class="form-signin">
  <form method="POST" action="{{ url_for('cadastro') }}">
   <input type="hidden" name="next" value="{{ next }}">
    <img class="mb-4" src="static/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name = 'nickname' placeholder="Insira seu nickname de usuário" name="nickname" required="">
      <label for="nickname">Usuário</label>
    </div>
 
    <div class="form-floating">
      <input type="text" class="form-control" id="nome" name = 'nome' placeholder="Insira seu nome" required>
      <label for="nickname">Nome</label>
    </div>
      <div class="form-floating">
 
    <div class="form-floating">
         <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="senha" required>
        <label for="floatingPassword">Password</label>
    </div>
 
    <button class="w-100 btn btn-lg btn-primary" type="Submit">Salvar</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>


    

{% endblock %}